<!DOCTYPE html>
<html>
<head>
	<title>Uncovering the Necessity of Spiritual Transformation: Exploring John Wesley's Sermon Circumcision of the Heart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
	<div class="container">
		<header>
			<h1>Uncovering the Necessity of Spiritual Transformation: Exploring John Wesley's Sermon Circumcision of the Heart</h1>
		</header>

		<main>
			<div class="row">
				<div class="col-md-4">
					<img src="egg.png" alt="Cover Image" class="img-fluid img-cover" style="max-width: 40%;">
				</div>
				<div class="col-md-8">
					<p><i>"O let us all with heart so true,
					Circumcision of the soul pursue,
					Submissive to our God's decrees,
					New-hearted and a people wise."</i></p>

					<p class="lead">Hymn Title: "O Let Us All with Heart So True"</p>

					<br>

					<p>John Wesley's sermon, Circumcision of the Heart, examines the concept of spiritual transformation and its application to both the Old and New Testaments. Wesley contrasts the physical circumcision of the Old Testament with the spiritual circumcision of the New Testament, arguing that those reborn in Christ must have their hearts circumcised instead of their flesh, symbolizing the removal of moral evil. Wesley outlines the implications of this spiritual transformation, claiming it involves one's entire being, and can ultimately lead to a life dedicated to righteousness. He also explains that while this transformation is a gift from God, believers must strive to remain committed to it, as it requires continuous purification and regular self-reflection. Wesley's sermon ultimately makes the case that spiritual transformation is necessary to become a true Christian, and is the key to living in accordance with His will.</p>
				</div>
			</div>
		</main>
        <section class="bg-light">
            <div class="container">
              <h2>Related Articles</h2>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://www.umcdiscipleship.org/resources/john-wesleys-notes-on-the-bible">John Wesley's Notes on the Bible</a></li>
                <li class="list-group-item"><a href="https://www.umc.org/en/content/john-wesley-and-the-sermons-that-shaped-the-methodist-tradition">John Wesley and the Sermons that Shaped the Methodist Tradition</a></li>
                <li class="list-group-item"><a href="https://www.umc.org/en/content/the-history-of-methodist-hymnody">The History of Methodist Hymnody</a></li>
              </ul>
            </div>
          </section>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5W/ZIjJwZxcfEotg1FfRI8lvL1E6PTjz2lqbSlBfO" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI4+0BpB7DUXhFZeSTP" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min
